    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .background-wrap{
      
      margin-bottom:0px;
     

      overflow: hidden;
      margin-top: -2px;  
          margin-left: -15px;
      height: 600px;
      width: 1300px;
      text-decoration-color: #ffffff;

   
    }
    .navbar {
      margin-bottom: 2px;
      margin-top: 50px;
      border-radius: 0;
      margin-top: 0px;
         background-color: #000000;

    }
    .topnav {
  overflow: hidden;
  background-color: #000000;

}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color:  #4CAF50;
  color: black;
}

.topnav .active {
   float: left;
  color: #f2f2f2;
  text-align: center;
  margin-left: 30px;
  margin-right: 10px;
  
  text-decoration: none;
  font-size: 17px;
  background-repeat: no-repeat;
  

  
}
    

    .row.content {height: 450px}
    
    
    .sidenav {
      padding-top: 20px;
      background-color: #000000;
      height: 100%;
    }
    
       footer {
      background-color:  #000000;
      color: white;
     padding: 10px;
      margin-bottom: 30px;
    }
    #polina { 
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight:100; 
  background: rgba(0,0,0,0.3);
  color: white;
  padding: 2rem;
  width: 50%;
  margin:2rem;
  float: right;
  font-size: 2rem;
}
h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: .3rem;
}
 
a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background:rgba(0,0,0,0.5);
  padding: .5rem;
  transition: .6s background; 
}
a:hover{
  background:rgba(0,0,0,0.9);
}
@media screen and (max-width: 500px) { 
  div{width:70%;} 
}
@media screen and (max-device-width: 800px) {
  h
  #bgvid { display: none; }
}  



    
    @media screen and (max-width: 800px) {
      .sidenav {
        height: auto;
        padding:0px;
      }
      .row.content {height:auto;} 
    }
                


video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  background: transparent;
  transition: 1s opacity;
}
.stopfade { 
   opacity: .5;
}
.container-fluid .row-content .col-sm-2 a{
    
 

    display: block;
    width: 100%;
    line-height: 2em;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    background: #E1E117;
}
#sanima:hover {
   
    
    width: 110%;
    
     border-radius: 5px;
    box-shadow: 5px 5px black;

}
#prabhu:hover{
    width: 110%;
    border-radius: 5px;
    box-shadow: 5px 5px black;

}
#himalayan:hover{
    width: 110%;
     border-radius: 5px;
    box-shadow: 5px 5px black;
}
#invesment:hover{
    width: 110%;
    border-radius: 5px;
     box-shadow: 5px 5px black;
}
#rastriya:hover{
    width: 110%;
    border-radius: 5px;
     box-shadow: 5px 5px black;
}
#adb:hover{
    width: 110%;
    border-radius: 5px;
     box-shadow: 5px 5px black;
}
#everest:hover{
    width: 110%;
    border-radius: 5px;
     box-shadow: 5px 5px black;
}
#sidartha:hover{
    width: 110%;
    border-radius: 5px;
     box-shadow: 5px 5px black;
}
